{% extends 'PigalleBundle::layout.html.twig' %}

{% block content %}
<div class="checkout success">
	<div class="contentTitle"><h3 class="titleSection container">Adhesion al newsletter</h3></div>
	<div class="container content">
		<div class="sectionMessage">
    		<h2>¡Muchas gracias por adherirte a nuestro newsletter!</h2>
    		<div class="hr"><hr /></div>
    		<div class="orderInfo">
	    		<p>Pronto recibiras promociones.</p>
    		</div>
    	</div>
	</div>
</div>
{% endblock %}