{% extends 'PigalleBundle::layout.html.twig' %}

{% block content %}
<div class="checkout success">
	<div class="contentTitle"><h3 class="titleSection container">Sin autorización</h3></div>
	<div class="container content">
		<div class="sectionMessage">
    		<h2>¡Lo sentimos! Tu cuenta no posee los privilegios necesarios para acceder a esta sección.</h2>
    	</div>
	</div>
</div>
{% endblock %}