{% from 'PigalleBundle:Product:macros.html.twig' import grid %}

<div class="socaloGris"></div>
<div class="container featuredProducts">
	<div class="tab">Productos Destacados</div>
	{{ grid(products, 4) }}
</div>