{% extends 'PigalleBundle::layout.html.twig' %}

{% from 'PigalleBundle:Macros:misc.html.twig' import pagination %}
{% from 'PigalleBundle:Product:macros.html.twig' import list %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.product.index_by_taxon_header'|trans({'%taxon%': taxon.name})|raw }}</h1>
</div>

{{ pagination(products) }}
{{ grid(products) }}
{{ pagination(products) }}

{% endblock %}