body { 
	font-family: 'Lato', sans-serif;
	font-weight:400;
}
ul { 
	margin:0px;
}
a { 
	cursor:pointer;
	color: #000000;
}
a:hover { 
	font-weight:400;
}
p { 
	font-size:12px;
	line-height:14px;
}
h3 { 
	font-size: 12px;
	font-weight:700;
	line-height:14px;
}
h3 a {
	font-weight:400;
}
#header { 
	background:#333333;
	height: 45px;
	color:#ffdaca;
	font-size:14px;
	font-weight:300;
}
#header .newsletter {
	float:left;
	padding-top: 14px;
	font-size:14px;
}
#header ul {
	float:left;
	padding-top: 12px;
}
#header ul li, #menu ul li {
	list-style:none; 
	display:inline; 
	font-weight:300;
}
#header ul li{ 
	display: inline-block;
	border-left: 1px solid #ffdaca;
	margin-left: 5px;
	padding-left: 5px;
	width: 88px;
	text-align: right;
}
#header ul li:first-child {
	border-left:none;
}
#header ul li a { 
	color:#ffdaca;
}
#header .cartItems { 
	float: right;
	font-size: 24px;
	width: 10px;
	height: 25px;
	margin: 7px 0 0 10px;
	padding: 4px 48px 0px 10px;
	border-left: 1px solid #ffdaca;
	color:#ffdaca;
	background: url(../images/ico-bolsa.png) no-repeat;
	background-position-x: 42px;
	background-position-y: -1px;
}
#menu { 
	background:#ffdaca;
	height:115px;
}
#menu ul { 
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding: 5px 0px;
	margin-top:40px;
}
#menu ul li{
	color:#000000;	
}
#menu ul li a { 
	color:#000000;
	display:block;
}
#menu .pull-left { text-align: left; width: 40%; }
#menu .pull-right { text-align: right; width: 40% }
#menu .pull-left li a {
	margin-left: 43px;
	float:left;
}
#menu .pull-left li:first-child a {
	margin-left: 0px;
}
#menu .pull-right li a { 
	margin-right: 35px;
	float:right;
}
#menu .pull-right li:first-child a {
	margin-right: 0px;
}
#menu .logo {
	float:left;
	margin-top: -32px;
	width: 20%;
	text-align: center;
	position: relative;
	z-index: 20;
}
#slider { 
	height:480px;
	margin: 0;
}
#slider .carousel-inner {
	height: 100%;
	position: absolute;
}

#slider .carousel-inner .item {
	height: 100%;
	/**z-index: -1; **/
	background-size: cover;
	background-repeat: no-repeat;
}

#slider .carousel-inner .item .background {
	width: 100%;
	height: 100%;
}

#slider .carousel-inner .item .container {
	position: relative;
	height: 100%;
}
#slider .item .box {
	width: 262px;
	height: 314px;
	position: absolute;
	top: 83px;
	right: 110px;	
	background: rgb(255, 255, 255); /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(255, 255, 255, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
}
#slider .item .box > * {
	margin: 19px;
}
#slider .item .box h3 {
	font-family: 'Croissant One';
	font-size: 22px;
	border-bottom: 1px solid black;
	padding-bottom: 13px;
	margin-bottom: 0;
	line-height: 24px;
}

#slider .item .box p {
	margin-top: 13px;
	margin-bottom: 13px;
}

#slider .item .box a {
	font-family: 'Croissant One';
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 5px;
	color: #ffffff;
	background-image: none;
	background-color: #de1b37;
	font-weight: 300;
	/*padding: 10px 20px;*/
	/*border: 0px solid #000000;*/
	background: -moz-linear-gradient(top, #de1b37 0%, #c41832);	
	background: -webkit-gradient(linear, left top, left bottom, from(#de1b37), to(#c41832));
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.2);
	-webkit-box-shadow:	0px 1px 3px rgba(000,000,000,0.2);
	box-shadow:	0px 1px 3px rgba(000,000,000,0.2);
	text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
}


#slider .controls {
	position: relative;
}
#slider .controls .carousel-indicators {
	cursor: pointer;
}
#slider .controls .carousel-control {
	top: 217px;
}
.titleSection {
	font-family: 'Croissant One';
	font-size: 18px;
	padding-top: 32px;
}
.contentTitle {
	background-color: #efeeee;
}
.contentTitle .titleSection {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 22px;
}
.socaloGris { 
	background: #efeeee;
	height:15px;
}
.tab { 
	background:#efeeee;
 	padding: 10px;
	font-family: 'Croissant One';
	font-size:18px;
	text-align: center;
	height: 50px;
	display:inline;
	line-height: 46px;
}
.button, .button:hover {
	display: block;
 	height: 35px;
	background-color: #000;
	color: #FFF;
	font-weight: 400;
	text-align: center;
	border: 2px outset buttonface;
	box-sizing: border-box;
	line-height: 30px;
	text-decoration: none;
}
.flag, .flagOferta { 
	width: 46px;
	margin-right: 7px;
}
.flag p, .flagOferta p  { 
	text-align: center;
	margin: 0px;
	padding: 10px 0px 5px 0px;
	background: #000000;
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
}
.flag p.oferta, .flagOferta p.oferta {
	font-size: 13px;
    font-weight: 300;
    text-decoration: line-through;
    padding-bottom: 5px;
}
.flagOferta p { background:#de1b37;}
#content .imagenProducto { 
	padding: 60px 30px 40px 30px;
	border-bottom: 1px #000000 solid;
}
.descripcionProducto { width: 150px;}
.descripcionProducto a {color: #333333;}

.flag .tail { 
	background:url(../images/img-bandera-negra.png) no-repeat;
}
.flagOferta .tail { 
	background:url(../images/img-bandera-roja.png) no-repeat;
}

/***** DETALLE PRODUCTO *****/
.detalleProducto { 
	height:576px; 
	background-color:#efeeee;
}
.direction {
	clear: both;
	height: 23px;
	padding-top: 10px;
}
.direction a {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	color:#adadad;
	text-decoration:underline;
	font-size:10px;
}
.fotoDetalle { 
	border: 1px solid #000000; 
	background-color:#FFF;
	text-align: center;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
}
.detalleProducto .datos { 
}
.detalleProducto .datos .datosProducto { 
	width: 100%;
	height: 252px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	position: relative;
}
.datosProducto p.description {
	margin: 17px 0 0 0;
	width: 385px;
}
#productGalleryZoomContainer {
}
.detalleProducto .datos .flag, .cartTotal .flag {
	width: 61px;
	position: absolute;
	top: 0;
	right: 11px;
	margin-right: 0;
}
.datosProducto .productName, .datosProducto .productName a {
	font-family: 'Croissant One';
	font-size: 18px;	
	margin-top: 26px;
	color: #000000;
	font-weight: 700;
}
.datos .flag .tail, .cartTotal .flag .tail  { 
	background:url(../images/img-bandera-negra-grande.png) no-repeat;
}
.datos .botonCompras { 
	background:url(../images/flag-compra.png) no-repeat;
	height: 127px;
	width: 61px;
	position: absolute;
	top: 0;
	right: 11px;
}
.datos .share {
	width: 100%;
	position: absolute;
	bottom: 10px;
	right: 0;
	padding-right: 11px;
}
.datos .share li {
	float: right;
	margin-left: 23px;
	list-style: none;
}
.detalleProducto .datos .photos { 
 	border-bottom: 2px solid #000;
 	width: 100%
}
.detalleProducto .datos .photos a:hover {
	text-decoration:none;
}
.detalleProducto .datos .photos img {
	margin: 10px 5px;
	border: 1px solid black;
}
.detalleProducto .datos .talles {
 	font-weight: bold;
	padding: 9px 0 0 14px;
}

.detalleProducto .datos .talles p {
 	font-size: 14px;
 	padding-top: 8px;
 	margin: 0;
}

.detalleProducto .datos .talles ul.talleList li {
	float: left;
	list-style: none;
	margin-right: 10px;
	background: #000000;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	padding: 2px;
	width: 20px;
	text-align: center;
}

input[type="radio"].toggle {
    display: none;
}
input[type="radio"].toggle:checked + label {
    background: #FFFFFF;
    color: #000000;
}
input[type="radio"].toggle + label {
    margin: 0;
}

.detalleProducto .datos .talles input.quantity {
	width: 45px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.detalleProducto .datos .addToCartButton {
	width: 100%;
}

/***** CARRITO *****/
.cart table {
	margin-top:32px;
	margin-bottom: 5px;
	font-size: 12px;
}
.cart table thead {
	background:#000000; 
	color:#FFFFFF;
}
.cart table th {
	border-right: 1px solid #ffffff;
	text-align: center;
	font-weight: 300;
	padding: 0;
}
.cart table th:last-child {
	border-right: none;
}
.cart table thead tr {
	border-top: 8px solid #000000;
	border-bottom: 8px solid #000000;
}
.cart table tr {
	border-bottom: solid 2px #000;
}
.cart table td { 
	text-align:center;
}
.cart table .detalle { 
	text-align:left;
}
.circle { 
	width: 10px;
	height: 10px;
	font-size: 20px;
	padding: 15px;
	line-height: 9px;
	background: #000000;
	color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}
.cart .circle {
	margin: 18px;
	margin-top: 50px;
}
.cart .detalle .photo {
	float: left;
	border: 1px solid black;
	margin: 10px 15px 10px 0;
}
.cart .detalle .datosProducto .productName {
	margin-top:13px;
}
.cart .detalle .datosProducto .talle {
	font-weight: 700;
	font-size: 14px;
}
.cart table td.quantity {
	padding-top: 60px;	
}
.cart table td.unitPrice, .cart table td.totalPrice, .cart table td.remove {
	font-size: 20px;
	padding-top: 63px;
}

.cartActions {
	float: left;
}
.cartActions .button {
	padding: 0 20px;
}
.cartActions .clearCartButton {
	float: left;
	margin-right: 20px;
}
.cartTotal { 
	float:right; 
	width:340px; 
	margin-top:5px;
}
.cartTotal p {
	font-size: 14px;
}
.cartTotal .cartCoupon { 
	width:100%; 
	border-bottom: 1px solid #000;
}
.cartTotal .cartCoupon p {
	float: left;
	line-height: 27px;
}
.cartTotal .cartCoupon .coupon { 
	border:1px solid #000 !important; 
	height:20px;
	width: 148px;
	margin-left: 13px;
}
.cartTotal .total { 
	width:100%;
}
.cartTotal .total p {
	padding-top: 20px;
}
.cartTotal .total p.title { 
	float:left; 
}
.cartTotal .total .flag {
	margin-left: 10px; 
	float:left;
	position: static;
}
.cartTotal .total .checkoutButton {
	margin: 10px 0px 0px 12px;
	float: right;
}


/***** FOOTER *****/
#footer {
	margin-top: 70px;
}
#footer .socaloFooter { 
	background:url(../images/bg-footer.png) repeat-x;
	height:9px;
}
#footer .footerContent { 
	background:#000000;
	min-height:175px;
	padding: 25px 0;
}
#footer h3, #footer p, #footer a { 
	color: #FFF;
	font-size: 12px;
	line-height: 19px;
	font-weight:300;
}
#footer h3 {
	font-weight:700;
}
#footer p a {
	text-decoration:underline;
}
#footer li { list-style: none; }

#footer .dataFiscal {
	text-align:center;
	padding-top: 10px;
}
#footer .logo {
	padding-top: 35px;
	text-align:center;
}