body { 
	font-family: 'Lato', sans-serif;
	font-weight:400;
}
ul { 
	margin:0px;
}
a { 
	cursor:pointer;
}
a:hover { 
	font-weight:700;
}
p { 
	font-size:12px;
	line-height:14px;
}
h3 { 
	font-size: 12px;
	font-weight:700;
	line-height:14px;
}
#header { 
	background:#333333;
	height: 45px;
}
#header ul { 
	padding-top:10px;
}
#header ul li, #menu ul li {
	list-style:none; 
	display:inline; 
	font-size:12px;
}
#header ul li{ 
	color:#ffdaca;
	font-weight:700;
	padding-right:5px;
}
#header ul li a { 
	color:#ffdaca;
}
#header ul .count { 
	font-size: 24px;
	background: url(../images/ico-bolsa.png) no-repeat;
	padding-right: 31px;
	background-position-x: 37px;
	background-position-y: -2px;
	border-left: 1px solid #ffdaca;
	padding-left: 5px;
}
#menu { 
	background:#ffdaca;
	height:115px;
}
#menu ul { 
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	padding: 5px 0px;
	margin-top:40px;
}
#menu ul li{
	color:#000000;
	font-weight:300;	
}
#menu ul li a { 
	color:#000000;
}
#menu .pull-left { text-align: left; width: 40%; }
#menu .pull-right { text-align: right; width: 40% }
#menu .pull-left li {
	padding-right: 38px;
}
#menu .pull-right li { 
	padding-left: 38px;
}
#menu .logo {
	float:left;
	margin-top: -32px;
	width: 20%;
	text-align: center;
	position: relative;
	z-index: 20;
}
#slider { 
	height:480px;
	margin: 0;
}
#slider .carousel-inner {
	height: 100%;
	position: absolute;
}

#slider .carousel-inner .item {
	height: 100%;
	/**z-index: -1; **/
	background-size: cover;
	background-repeat: no-repeat;
}

#slider .carousel-inner .item .background {
	width: 100%;
	height: 100%;
}

#slider .carousel-inner .item .container {
	position: relative;
	height: 100%;
}
#slider .item .box {
	width: 262px;
	height: 314px;
	position: absolute;
	top: 83px;
	right: 110px;	
	background: rgb(255, 255, 255); /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(255, 255, 255, 0.7);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
}
#slider .item .box > * {
	margin: 19px;
}
#slider .item .box h3 {
	font-family: 'Croissant One';
	font-size: 22px;
	border-bottom: 1px solid black;
	padding-bottom: 13px;
	margin-bottom: 0;
	line-height: 24px;
}

#slider .item .box p {
	margin-top: 13px;
	margin-bottom: 13px;
}

#slider .item .box a {
	font-family: 'Croissant One';
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 5px;
	color: white;
	background-image: none;
	background-color: #de1b37;
	font-weight: 300;
}


#slider .controls {
	position: relative;
}
#slider .controls .carousel-indicators {
	cursor: pointer;
}
#slider .controls .carousel-control {
	top: 217px;
}
.socaloGris { 
	background: #efeeee;
	height:15px;
}
.tab { 
	background:#efeeee;
 	padding: 10px;
	font-family: 'Croissant One';
	font-size:18px;
	text-align: center;
	height: 50px;
	display:inline;
	line-height: 46px;
}
.flag, .flagOferta { 
	width: 46px;
	margin-right: 7px;
}
.flag p, .flagOferta p  { 
	text-align: center;
	margin: 0px;
	padding: 10px 0px 5px 0px;
	background: #000000;
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
}
.flag p.oferta, .flagOferta p.oferta {
	font-size: 13px;
    font-weight: 300;
    text-decoration: line-through;
    padding-bottom: 5px;
}
.flagOferta p { background:#de1b37;}
#content .imagenProducto { 
	padding: 60px 30px 40px 30px;
	border-bottom: 1px #000000 solid;
}
.descripcionProducto { width: 150px;}
.descripcionProducto a {color: #333333;}

.flag .tail { 
	background:url(../images/img-bandera-negra.png) no-repeat;
}
.flagOferta .tail { 
	background:url(../images/img-bandera-roja.png) no-repeat;
}
#footer {
	margin-top: 70px;
}
#footer .socaloFooter { 
	background:url(../images/bg-footer.png) repeat-x;
	height:9px;
}
#footer .footer { 
	background:#000000;
	min-height:175px;
	padding-bottom: 25px;
}
#footer .footer h3, #footer .footer p, #footer .footer p a, #footer .footer li, #footer .footer li a { 
	color: #FFF;
	font-size: 12px;
	line-height: 19px;
	font-weight:400;
}
#footer .footer p a {
	text-decoration:underline;
}
#footer .footer li { list-style: none;}

#footer .footer .logo {padding-top: 35px;}