/*** DETALLE PRODUCTO ***/
.featuredProducts .imagenProducto, .product-box .imagenProducto { 
	padding: 10px;
	border-bottom: 1px #000000 solid;
	position: relative;
}
.featuredProducts .descripcionProducto, .product-box .descripcionProducto { width: 150px; }
.featuredProducts .descripcionProducto a, .product-box .descripcionProducto a {
	text-transform: uppercase;
	font-weight: 700;
}

.quickviewButton {
	display: block;
	width: 163px;
	height: 163px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 163px;
	padding: 30px;
	display: none;
	z-index: 999;
}

.detalleProducto { 
	height:576px; 
	background-color:#efeeee;
}
.direction {
	clear: both;
	height: 23px;
	padding-top: 10px;
}
.direction a {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	color:#adadad;
	text-decoration:underline;
	font-size:10px;
}
.fotoDetalle { 
	border: 1px solid #000000; 
	background-color:#FFF;
	text-align: center;
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
}
.productDetails .datos { 
}
.productDetails .datos .datosProducto { 
	width: 100%;
	height: 252px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	position: relative;
}
.productDetails .datosProducto p.description {
	margin: 17px 0 0 0;
	width: 385px;
}
#productGalleryZoomContainer {
}
.productDetails .datos .flag, .productDetails .datos .flagOferta, .cartTotal .flag, .cartTotal .flagOferta {
	position: absolute;
	top: 0;
	right: 11px;
	margin-right: 0;
}
.productDetails .datosProducto .productName, .productDetails .datosProducto .productName a, .cart .detalle .datosProducto .productName {
	font-family: 'Croissant One';
	font-size: 14px;	
	margin-top: 26px;
	color: #000000;
}
.productDetails .datos .botonCompras { 
	background:url(../images/flag-compra.png) no-repeat;
	height: 127px;
	width: 61px;
	position: absolute;
	top: 0;
	right: 11px;
	cursor: pointer;
}
.productDetails .datos .share {
	width: 100%;
	position: absolute;
	bottom: 10px;
	right: 11px;
}
.productDetails .datos .share li {
	float: right;
	margin-left: 23px;
	list-style: none;
}
.productDetails .datos .photos { 
 	border-bottom: 1px solid #000;
 	width: 100%
}
.productDetails .datos .photos a:hover {
	text-decoration:none;
}
.productDetails .datos .photos img {
	margin: 10px 5px;
	border: 1px solid black;
}
.productDetails .datos .talles {
 	font-weight: bold;
	padding: 11px 0 0 14px;
}

.productDetails .datos .talles p {
 	font-size: 12px;
 	padding-top: 8px;
 	margin: 0;
}

.productDetails .datos .talles ul.talleList li {
	float: left;
	list-style: none;
	margin-right: 10px;
	background: #000000;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
	padding: 2px;
	width: 20px;
	text-align: center;
}

input[type="radio"].toggle {
    display: none;
}
input[type="radio"].toggle:checked + label {
    background: #FFFFFF;
    color: #000000;
}
input[type="radio"].toggle + label {
    margin: 0;
    font-size: 12px;
}

.productDetails .datos .talles input.quantity {
	width: 45px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.productDetails .datos .addToCartButton {
	width: 100%;
}


#quickviewModal {
	width: 846px;
	height: 429px;
	margin-left: -423px;
}


#quickviewModal .modal-body {
	height: 385px;
	overflow: hidden;
	padding: 22px 28px;
}

#quickviewModal .productDetails .datosProducto p.description {
	width: 300px;
}

#quickviewModal .productDetails .datos .datosProducto {
	height: 174px;
}

#quickviewModal .productDetails .datos .share {
	right: 87px;
}

#quickviewModal .productDetails .fotoDetalle {
	height: 385px;
}

#quickviewModal .productDetails .fotoDetalle img {
	height: 100%;
}

/*** CARRITO ***/
.cart table {
	margin-top:32px;
	margin-bottom: 5px;
	font-size: 12px;
}
.cart table thead {
	background:#000000; 
	color:#FFFFFF;
}
.cart table th {
	border-right: 1px solid #ffffff;
	text-align: center;
	padding: 0;
}
.cart table th:last-child {
	border-right: none;
}
.cart table thead tr {
	border-top: 6px solid #000000;
	border-bottom: 6px solid #000000;
}
.cart table tr {
	border-bottom: solid 2px #000;
}
.cart table td { 
	text-align:center;
}
.cart table .detalle { 
	text-align:left;
}
.circle { 
	width: 10px;
	height: 10px;
	font-size: 16px;
	padding: 13px;
	line-height: 9px;
	background: #000000;
	color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}
.cart .circle {
	margin: 16px;
	margin-top: 50px;
}
.cart .detalle .photo {
	float: left;
	border: 1px solid black;
	margin: 10px 15px 10px 0;
}
.cart .detalle .datosProducto .productName {
	margin-top:13px;
}
.cart .detalle .datosProducto .talle {
	font-weight: 700;
	font-size: 12px;
}
.cart table td.quantity {
	padding-top: 60px;	
}
.cart table td.unitPrice, .cart table td.totalPrice, .cart table td.remove {
	font-size: 16px;
	padding-top: 63px;
}

.cartActions {
	float: left;
}
.cartActions .clearCartButton {
	float: left;
	margin-right: 12px;
}
.cartTotal { 
	float:right; 
	width:340px; 
	margin-top:5px;
}
.cartTotal p {
	font-size: 14px;
}
.cartTotal .cartCoupon { 
	width:100%; 
	border-bottom: 1px solid #000;
}
.cartTotal .cartCoupon p {
	float: left;
	line-height: 27px;
}
.cartTotal .cartCoupon .coupon { 
	border:1px solid #000 !important; 
	height:20px;
	width: 148px;
	margin-left: 13px;
	float:right;
}
.cartTotal .total { 
	width:100%;
}
.cartTotal .total p {
	padding-top: 20px;
	padding-bottom: 15px;
}
.cartTotal .total p.title { 
	float:left; 
}
.cartTotal .total .flagOferta {
	margin-left: 25px; 
	float:left;
	position: static;
}
.cartTotal .total .checkoutButton {
	margin: 10px 0px 0px 12px;
	float: right;
	padding: 0 16px;
	background: #de1b37;
}
.cart .emptyCart div.hr {
	width: 480px;
	margin: 0 auto;
}
.cart .emptyCart p {
	font-size: 16px;	
	margin: 35px 0 100px 0;
}
.cart .emptyCart a {
	text-decoration:underline;
}

/***** ONLINE SHOP ******/
.shop .content {
	padding-top: 26px;
}

.shop .filters button {
	width: 100%;	
}

.filter {
	background: #efeeee;
	font-size: 14px;
	margin-bottom: 10px;
}

.filter a, .shop .filter p {
	padding: 6px 0;
	text-decoration: none;
	margin: 0 11px;
	display: block;
}

.filter label {
	float: left;
	font-weight: bold;
	margin-right: 15px;
	color: #000000;
}

.filter input[type="checkbox"] {
	outline: 2px solid #000000;
}

.filter a:hover {
	color: #000000;
}

.filterAccordion .accordionHeader
{
	font-weight: bold;
	border-bottom: 1px solid #000000;	
	background-image: url(../../../bundles/pigalle/images/arrow_down.png);
	background-repeat: no-repeat;
	background-position: 178px 11px;
}

.filterAccordion .accordionHeader.collapsed {
	background-image: url(../../../bundles/pigalle/images/arrow_up.png);
}

.products .pagination ul>li>a, .products .pagination ul>li>span {
	border: none;
	padding: 4px 10px;
}

.products .pagination ul>.active>a, .products .pagination ul>.active>span {
	color: #000000;
	cursor: default;
	font-weight: bold;
}

.products .pagination  {
	margin-top: 0;
	text-align: right;
}

.products .pagination ul {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


.shop .products .spLoadMoreButton {
	width: 100%;
}

.shop .products .grid {
	margin: 0 0 60px 0;
}


/*** SECURITY ***/
.security .content {
	margin-top: 40px; 
}
.security .span6 {
	height: 376px;
}

.security .register {
	border-left: 1px solid #000000;
	margin-left: 10px;
}

.security h2 {
	font-size: 16px;
	text-align: center;
	margin-bottom: 36px;
}

.security form {
	width: 220px;
}

.security form label {
	font-size: 12px;
}

.security form input {
	width: 200px;
	height: 22px;
	border: 1px solid #000 !important;
}

.security fieldset {
	margin-bottom: 30px;	
}

.security .login form {
	float:right;
	margin-right: 60px;
}

.security .register form {
	margin-left: 60px;
}


/*** Account ***/
.account .accountHeader {
	margin: 33px 0 0 10px;
	border-bottom: 2px solid #000000;
	padding-bottom: 15px;
}

.account .accountHeader h3 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
}

.account .accountHeader .logout {
	width: 122px;
	background-color: #efeeee;
	color: #000000;
	font-weight: 700;
}

.account .accountContent {
	margin: 25px 0 0 10px;
}

.account .accountMenu {
	float: left;
	width: 180px;
	padding-bottom: 80px;
}

.account .accountMenu li {
	list-style: none;
	text-transform: uppercase;
	font-size: 12px;
}
.account .accountMenu li.active {
	font-weight: 700;
}
.account .accountContent .details {
	padding-left: 60px;
	float: left;
	border-left: 2px solid #000000;
}
.account .accountContent .details form {	
	margin: 0;
}
.account .accountContent .details .form-group label {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
.account .accountContent .details fieldset {
	margin-bottom: 30px;
}
.account .accountContent .details .form-group input {
	color: #000000;
	border: 1px solid #000000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.account .accountContent .details button {
	padding: 0 15px;
}

/*** CHECKOUT ***/
.checkout .content {
	margin-top: 40px; 
}

.checkout .span4 {
	height: 400px;
}

.checkout .message {
	text-align: center;
}

.checkout .message .circle {
	display: inline-block;
	margin-top: 82px;
}

.checkout .message h3 {
	font-family: 'Croissant One';
	font-size: 22px;
	line-height: 28px;
	margin-bottom: 24px;
	margin-top: 25px;
}

.checkout .row-fluid .login,  .checkout .row-fluid .ship {
	border-left: 1px solid #000000;
}

.checkout .row-fluid .login form {
	margin: 0 auto;
	float: none;
}

.checkout .row-fluid .register form {
	margin: 0 auto;
	float: none;
}

.checkout .stepActions {
	margin-top: 25px;	
}

.checkout .prevButton {
	float: left;
	background: url(../../../bundles/pigalle/images/flag-left-gray_white.png) no-repeat #efeeee;
	background-position: left 0px top;
	padding-left: 20px;
	color: #000000;
}

.checkout .nextButton {
	float: right;	
	background: url(../../../bundles/pigalle/images/flag-right-black_white.png) no-repeat #000000;
	background-position: right 0px top;
	padding-right: 20px;
}

.checkoutProgress {
	width: 100%;
	margin-bottom: 40px;
}

.checkoutProgress li {
	float: left;
	width: 20%;
	list-style: none;
	height: 34px;
	text-align: center;
}

.checkoutProgress li a {
	line-height: 34px;
	background: url(../../../bundles/pigalle/images/flag-right-black.png) no-repeat #000000;
	background-position: left 0px top;
	display: block;
	color: #FFFFFF;
	text-transform: uppercase;
}

.checkoutProgress li.login a {
	background: #000000;
}

.checkoutProgress li.active a {
	color: #000000;
	background: url(../../../bundles/pigalle/images/flag-right-pink.png) no-repeat #ffdaca;
}

.checkoutProgress li.active + li a {
	background-image: url(../../../bundles/pigalle/images/flag-right-pink.png);
}

.checkoutProgress li.login.active a {
	background: #ffdaca;
}

/*** ADDRESSING ***/

.checkout.addressing .span4 {
	height: 530px;
}

.addressing h2 {
	font-size: 16px;
	text-align: center;
	margin-bottom: 36px;
	text-transform: uppercase;
}

.addressing form label {
	font-size: 12px;
	text-transform: uppercase;
}

.addressing form input { 
	width: 200px;
	height: 22px;
	border: 1px solid #000;
}

.addressing form select {
	border: 1px solid #000;
}
	
.addressing .shippingAddress {
	border-left: 1px solid #000000;	
}

.addressing fieldset {
	margin: 0 auto;
	width: 200px;
}

.addressing .streetOptions .span4 {
	float: left;
	height: 70px;
}

.addressing .streetOptions .span4 input {
	width: 50px;
}

.addressing .differentBillingAddress input {
	width: auto;
	margin-right: 8px;
	float: left;
}

.addressing .differentBillingAddress label {
	line-height: 16px;
}

.addressing .billing {
	border-left: 1px solid #000000;
}

.addressing form .disabled {
	color: #d1d1d1;
}

.addressing form .disabled input {
	border: 1px solid #d1d1d1;
	color: #d1d1d1;
}

.addressing form .disabled select {
	border: 1px solid #d1d1d1;
	color: #d1d1d1;
}

.addressing .message .circle {
	margin-top: 150px;
}

/*** SHIPPING AND PAYMENT ***/
.shipping h2, .payment h2, .finalize h2 {
	font-size: 16px;
	text-align: center;
	margin-bottom: 36px;
	text-transform: uppercase;
}

.shipping fieldset, .payment fieldset {
	margin-left: 90px;
}

.shipping .shippingOption, .payment .paymentOption {
	margin-bottom: 20px;
}

.shipping .shippingOption:last-of-type {
	margin-bottom: 10px;
}

.shipping .shippingOption input, .payment .paymentOption input {
	float: left;
}

.shipping .shippingOption label, .payment .paymentOption label {
	text-transform: uppercase;
	margin-left: 18px;
	float: left;
}

.shipping .shippingOption img {
	margin-left: 30px;
}

.shipping .personalShippingDescription {
	font-size: 14px;
	margin-left: 30px;
	font-weight: 300;
	line-height: 18px;
}

.checkout.payment .message .circle {
	margin-top: 40px;
}

 .payment .pay {
 	height: 330px;
	border-left: 1px solid #000000;
 }
 
.finalize .finalizeData {
	border-left: 1px solid #000000;
	padding-left: 50px;
}

.finalize .finalizeData h2 {
	text-align: left !important;
	margin-bottom: 10px;
}
 
.finalize .addresses .address {
 	float: left;
 	margin-right: 115px;
 }
 
.finalize .finalizeData p {
	margin-bottom: 4px;
}

.finalize .finalizeData .title {
	font-size: 13px;
	font-weight: bold;
}

.finalize .finalizeData p span {
	font-weight: bold;
}

.finalize .products {
	margin-top: 40px;
}

.finalize .products .list {
	width: 100%
}

.finalize .products .list tr.separator {
	height: 20px;
}

.finalize .products .list td {
	padding: 0 10px;
}

.finalize .products .list td {
	padding: 0 10px;
}



.finalize .products .list .detalles {
	width: 40%;
}

.finalize .products .list .detalles .photo {
	float: left;
}

.finalize .products .list .detalles .productName {
	float: left;
	line-height: 60px;
	margin: 0 0 0 10px;
	font-family: 'Croissant One';
	font-size: 14px;
}

.finalize .products .list .talle {
	width: 25%;
	border-left: 1px solid black;
	text-align: center;
}

.finalize .products .list .total {
	width: 35%;
	border-left: 1px solid black;
}

.finalize .finalizeData .shipping {
	margin-top: 40px;
}

.finalize .finalizeData div.total {
	width: 100%;
	border-top: 1px solid black;
	margin-top: 40px;
}

.finalize .finalizeData div.total p.title {
	float: left;
	margin-left: 240px;
	line-height: 50px;
}

.finalize .finalizeData div.total .flag {
	margin-left: 25px;
	float: left;
	position: static;
}

.finalize .finalizeData div.total .flag p {
	margin: 0;
}

.finalize .finalizeData div.total .button {
	margin: 10px 0px 0px 12px;
	float: right;
	padding: 0 16px;
	color: #000000;
	font-weight: bold;
	background: #ffdaca;
	border: 1px solid #000000;
}

.checkout.success .content {
	margin-top: 0;
}

.checkout.success .hr {
	width: 448px;
	margin: 0 auto;
}

.checkout.success .orderInfo {
	margin: 35px 0 80px 0;
}

.checkout.success .orderInfo p {
	font-size: 14px;
	margin: 0;
}

.checkout.success .orderInfo p span {
	font-weight: bold;
}

 /*** LA MARCA ***/
.laMarca .description {
	font-size: 14px;
 	margin: 25px 0;
 	line-height: 20px;
}
 
.laMarca ul {
 	margin-top: 35px;
}
 
.laMarca ul li {
 	float: left;
	list-style: none;
	width: 25%;
	text-align: center;
}
 
.laMarca ul li h3 {
	font-size: 14px;
	font-family: 'Croissant One';
	margin: 20px 10%;
	line-height: 20px;
}

.laMarca ul li h3 a {
	text-decoration: underline;
}

.locales .list {
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-count: 4;
	margin-top: 20px;
}

.locales .list h2 {
	font-size: 16px;
	font-family: 'Croissant One';
	font-weight: 300;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	display: inline-block;
	margin: 25px 0 25px 15px;
}

.locales .list h2:first-of-type {
	margin-top: 0;
}

.locales .list .local {
	margin-bottom: 25px;
	padding-left: 15px;
}

.locales .list .local.featured {
	background: #efeeee;
	padding: 15px;
}

.locales .list .local p {
	font-size: 14px;
	line-height: 12px;
}

.locales .list .local p.name {
	font-weight: bold;
}


/*** COLECCIONES ***/
.collection {  
	background-color:#efeeee;
}

.collection .titleSection {
	border-bottom: 1px solid #000000;
	padding-bottom: 10px;
}
.collection .filters {
	margin-bottom: 0px;
}
.collection .filter {
	float: left;
	width: 225px;
}
.collection .filter ul {
	z-index: 999;
	position: absolute;
	background-color: #efeeee;
	width: 225px;
}
.collection .products .facebookLike {
	text-align: right;
	margin-bottom: 7px;
}
.collection .image {
	width: 100%;
	background: #ffffff;
	text-align: center;
}
.collection .socalo {
	height: 56px;
	background: black;
	color: white;
	text-align: center;
}
.collection .socalo .productName {
	font-family: 'Croissant One';
}
.collection .socalo p {
	font-size: 14px;
	margin: 7px 0 0 0;
}
.collection .socalo p.productName {
	font-family: 'Croissant One';
	font-size: 16px;
	margin: 0;
	padding-top: 12px;
}
.collection .carousel .carousel-control {
	color: #000000;
	top: 43%;
}

/*** FAQ ***/
.faq #faqs {
	margin-top: 20px;
	min-height: 300px;
}
.faq .faqItem {
	margin-bottom: 10px;
}
.faq .question {
	font-size: 16px;
	text-transform: uppercase;
}
.faq .answer .answer-content {
	font-size: 14px;
	border-bottom: 1px solid #000000;
	margin: 10px 0;
	border-top: 1px solid #000000;
	padding: 10px 0;
}

/*** CONTACT ***/
.contact .row-fluid {
	margin-top: 45px;
}
.contact .span6 {
	min-height: 480px;
}
.contact .form fieldset 
{
	width: 300px;
}
.contact .form input, .contact .form textarea {
	width: 300px;
}
.contact .form textarea {
	height: 135px;
}
.contact .form label {
	font-weight: bold;
}
.contact .data {
	border-left: 1px solid #000000;
	padding-left: 90px;
}
.contact .data p {
	font-size: 14px;
	line-height: 12px;
}
.contact .data p.name {
	font-weight: bold;
}
.contact .data .map {
	margin-top: 10px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}