{% extends 'SyliusBackendBundle::layout.html.twig' %}

{% block content %}
<div class="page-header">
	<h1>Dashboard</h1>
</div>

{{ knp_menu_render('sylius_backend.menu.dashboard', {'template': 'SyliusBackendBundle::menu_dashboard.html.twig', 'currentClass': 'active'}) }}

{% endblock %}
