{% extends 'PigalleBundle::layout.html.twig' %}

{% block content %}
<div class="security">
	<div class="contentTitle"><h3 class="titleSection container">Recuperar contraseña</h3></div>
	<div class="container content">
		<p>Se ha enviado un email a su casilla de correo con el enlace para proceder con la recuperación de su contraseña.</p>
	</div>
</div>
{% endblock %}