{% extends 'PigalleBundle::layout.html.twig' %}

{% block content %}
<div class="security">
	<div class="contentTitle"><h3 class="titleSection container">Recuperar contraseña</h3></div>
	<div class="container content">
		<p>La contraseña para este usuario ya ha sido solicitada. Revise su casilla de email, sino vuelva a intentarlo en 24 horas.</p>
	</div>
</div>
{% endblock %}