{% extends 'SyliusBackendBundle::layout.html.twig' %}

{% from 'SyliusBackendBundle:Macros:actions.html.twig' import create %}

{% block content %}
<div class="page-header">
<h1>{{ 'sylius.pigalle_slide.create_header'|trans|raw }}</h1>
</div>

<form action="{{ path('sylius_backend_pigalle_slide_create', {'id': pigalle_slide.id}) }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    {% include 'SyliusBackendBundle:PigalleSlide:_form.html.twig' %}
    {{ create() }}
</form>
{% endblock %}
