<form action="{{ path('fos_user_security_check') }}" method="post">
	<h2>TENGO CUENTA</h2>
				
	<fieldset>
    	<div class="control-group">
    		<label for="username" class="control-label">E-MAIL:</label>
    		<div class="controls">
    			<input type="text" id="username" name="_username" value="{{ last_username is defined?last_username:'' }}" />
        	</div>
    	</div>
    	<div class="control-group">
    		<label for="password" class="control-label">CONTRASEÑA:</label>
    		<div class="controls">
    			<input type="password" id="password" name="_password" />
			</div>
		</div>
	</fieldset>

	<button type="submit" class="button" name="login">Iniciar Sesion</button>
</form>