{% extends 'SyliusBackendBundle::layout.html.twig' %}

{% from 'SyliusBackendBundle:Macros:actions.html.twig' import update %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.option.update_header'|trans|raw }}</h1>
</div>

<form action="{{ path('sylius_backend_option_update', {'id': option.id}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusBackendBundle:Option:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
