{% extends 'PigalleBundle::layout.html.twig' %}

{% block content %}
<div class="security">
	<div class="contentTitle"><h3 class="titleSection container">Registro</h3></div>
	<div class="container content">
		<p>El registro se realizó correctamente. Ahora puede empezar a realizar compras en el sitio.</p>
	</div>
</div>
{% endblock %}
