{% extends 'PigalleBundle::layout.html.twig' %}

{% block content %}
<div class="security">
	<div class="contentTitle"><h3 class="titleSection container">Login</h3></div>
	<div class="container content">
		{% if error or form.email.vars.errors|length or form.plainPassword.vars.errors|length %}
		<div class="alert alert-error">
    		Error. Verifique los datos ingresados.
		</div>
		{% endif %}
		<div class="row-fluid">
			<div class="span6 login">
				{% include 'GeckoUserBundle:Security:_loginForm.html.twig' with {'last_username': last_username} %}
			</div>
			<div class="span6 register">
				{% include 'GeckoUserBundle:Registration:_registerForm.html.twig' with {'form': form} %}
			</div>
		</div>
	</div>
</div>
{% endblock %}