{% extends 'GeckoNewsletterBundle::email_layout.html.twig' %}

{% block header_title %}NEWSLETTER PIGALLE <br>{% endblock %}

{% block content %}
<h4>{{ newsletter.title }}</h4>

<p>Hola {{ subscriber.getSomeName }},</p>
<br>

{% if(newsletter.introText) %}
<p>{{ newsletter.introText }}</p>
{% endif %}
<br><br>

{% endblock %}