{% extends 'PigalleBundle::layout.html.twig' %}

{% block content %}
<div class="checkout success">
	<div class="contentTitle"><h3 class="titleSection container">Pedido - Éxito</h3></div>
	<div class="container content">
		<div class="sectionMessage">
    		<h2>¡Muchas gracias por tu pedido!</h2>
    		<div class="hr"><hr /></div>
    		<div class="orderInfo">
	    		<p>En breve nos comunicaremos con vos para coordinar el resto del proceso.</p>
    		</div>
    	</div>
	</div>
</div>
{% endblock %}