{% extends 'PigalleBundle::layout.html.twig' %}

{% block content %}
<div class="checkout success">
	<div class="contentTitle"><h3 class="titleSection container">Registro Mayorista - Éxito</h3></div>
	<div class="container content">
		<div class="sectionMessage">
    		<h2>¡Muchas gracias por registrarte como mayorista!</h2>
    		<div class="hr"><hr /></div>
    		<div class="orderInfo">
	    		<p>Te notificaremos por email cuando el administrador acepte tu solicitud.</p>
    		</div>
    	</div>
	</div>
</div>
{% endblock %}