{% extends 'SyliusBackendBundle::layout.html.twig' %}

{% import 'SyliusBackendBundle:Macros:buttons.html.twig' as buttons %}
{% from 'SyliusBackendBundle:Macros:misc.html.twig' import pagination %}
{% from 'GeckoNewsletterBundle:Backend/Newsletter:list.html.twig' import list %}
  				
{% block content %}
<div class="page-header">
    <h1>Newsletters</h1>
</div>

<div class="well well-small">
    {{ buttons.create(path('gecko_newsletter_backend_newsletter_create'), "Nuevo newsletter") }}
</div>

{{ pagination(newsletters) }}
{{ list(newsletters) }}
{{ pagination(newsletters) }}

{% endblock %}
